@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial,sans-serif; 
}
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.header.container{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:black;
    display: flex;
}